einops==0.5.0
local_attention==1.4.4
matplotlib==3.5.3
numpy==1.23.2
timm==0.4.5
torch==1.9.0
torchvision
tensorboard==2.10.0
mmcv==1.6.1
numpy==1.23.2
opencv-python==4.6.0.66
Pillow==9.2.0
setuptools==47.1.0
